* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* reset */


body {
    background-color: #3e3655;
    font-family: 'Nunito', sans-serif;
}

.cleafix::after {
    content: '';
    display: table;
    clear: both;
}

/* main section */

.main-container {
    max_width: 1366px;


    margin-left: auto;
    margin-right: auto;

    text-align: center;

    padding-top: 10px;
    padding-bottom: 10px;


    /* border-style: solid; */
    /* border-color: black; */

}


main .main-container {
    margin-bottom: 300px;


    padding-right: 5%;
    padding-left: 5%;

    /* test */
    /* border-color: black;
    border-style: solid; */
    /* background-color: rgba(255, 2, 2, 0.278); */
    /* test */

}



.main-title-container {
    padding-top: 0;
    padding-bottom: 20px;

}

h1 {
    color: #e53270;
    font-weight: 900;
    font-size: 250%;

}

.paragraph {

    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;


}


/* cards */

.card {}

.card-container {
    float: left;
    width: calc(100% / 3);
    height: 200px;


    display: inline-block;

    margin-bottom: 5%;

    background-color: #100e16;
}

.card-container .picture {}

img {
    float: left
}

.card-container .card-text-container {
    margin-left: 210px;
}

.card-container .card-text-container .team-member-name {
    font-weight: bold;
    font-size: large;
    color: #ffffff;
    padding-top: 40px;
}

.team-member-role {
    color: #ffffff;
    padding-top: 20px;
}

.team-member-email {
    color: #6ecbf2;
    padding-top: 20px;
}


/* end cards section*/

/* end main section */



/* main title */

/* end main title */