* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Nunito', sans-serif;
}

body {
    background-color: ##ffffff;
}

main {
    width: 75%;
    height: 40%;

    text-align: center;
    margin: auto;
    margin-top: 10%;


    padding-top: 5%;
    padding-right: 20%;
    padding-bottom: 5%;
    padding-left: 20%;

    border-color: orange;
    border-style: solid;
    background-color: rgba(255, 2, 2, 0.278);

}



/* main title */

/* end main title */