* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Nunito', sans-serif;
}

body {
    background-color: ##ffffff;
}

/* main section */
main {
    width: 100%;
    height: auto;

    text-align: center;
    margin: auto;
    margin-top: .5%;


    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 4%;
    padding-left: 5%;

    /* working highlight */
    border-color: black;
    border-style: solid;
    background-color: rgba(255, 2, 2, 0.278);
    /* working highlight */

}

.main-container {
    width: 100%;


    margin: auto;

    padding-top: 10px;
    padding-right: 200px;
    padding-left: 200px;
    padding-bottom: 10px;

    margin-bottom: 30px;

    border-style: solid;
    border-color: black;

}

.main-title-container {
    padding-top: 0;
    padding-bottom: 20px;
}


/* end main section */



/* main title */

/* end main title */